:root{
    --cor-primaria: #111111;
    --cor-secundaria: #ffff00;
    --cor-terciaria: #F6F6F6;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{ /*Resetando config margin e padding na página toda*/
    margin: 0;
    padding: 0;
}
.menu{
    padding: 2% 0% 0% 15%;
}

.menu_navegacao{
    display: flex;
    gap: 50px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
}

.home{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.aboutme{
    text-decoration: none;
    color: var(--cor-secundaria);
}

body{ /*Todo o conteúdo visual da página*/
    height: 100vh; /*100% tamanho da tela*/
    box-sizing: border-box; /*Limitar a margem*/
    background-color: var(--cor-primaria); /*Cor de fundo*/
    color: var(--cor-terciaria); /*Cor da fonte*/
}

h1{
    color: var(--cor-terciaria);
}

p{
    color: var(--cor-terciaria);
}

.destaque_titulo{ /*strong*/
    color: var(--cor-secundaria);
}

.apresentacao{
    margin: 10% 15%; /*Topo/Fundo - Direita/Esquerda*/
    display: flex; /*section (col esq) e img (col dir)*/
    /*flex-direction: row;*/
    align-items: center; /*Colunas centralizadas*/
    justify-content: space-between; /*Espaço entre as colunas*/
    gap: 82px; /*Define o espaço acima*/
}

.apresentacao_conteudo{ /*section (col esq)*/
    width: 50%; /*Section ocupa 50% da largura da caixa main*/
    display: flex; /*h1, p e div*/
    flex-direction: column; /*Direção dos containers*/
    gap: 40px; /*Espaço entre as caixas*/
}

.apresentacao_conteudo_titulo{ /*h1 (col esq)*/
    font-size: 1.5rem; /*Tamanho da fonte do título*/
    font-family: 'Krona One', sans-serif;
    line-height: 37px; /*Espaçamento entre as linhas*/
}

.apresentacao_conteudo_texto{ /*tag p (col esq)*/
    font-size: 1.25rem;
}

.destaque_texto{ /*span*/
    color: var(--cor-secundaria);
}

.apresentacao_links{ /*tag div (col esq)*/
    display: flex; /*3 caixas: texto + botoes - tag a*/
    flex-direction: column; /*Botoes na vertical*/
    align-items: center; /*Alinhados no centro*/
    gap: 32px;
    justify-content: space-evenly; /*Espaço entre caixas*/
}

.apresentacao_links_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_link_C{ /*Botão no centro da div*/
    background-image: url("./assets/logo_batman_amarelo.png"); /*Imagem de fundo do link*/
    background-size: 120px; /*Tamanho da imagem de fundo*/
    background-repeat: no-repeat; /*Para não repetir a imagem*/
    background-position: 14px -2px; /*Posição da imagem de fundo*/
    text-align: center; /*Centraliza o texto do botão*/
    font-size: 1.25rem; /*Tamanho da fonte*/
    font-weight: 600; /*Peso da fonte*/
    padding: 30px 30px; /*Distância do texto até a borda do botão*/
    text-decoration: none; /*Retira o sublinhado do texto*/
    color: var(--cor-terciaria); /*Cor do texto*/
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links_link_C:hover{ /*Deixa o botão azul quando coloca o mouse em cima*/
    background-image: url("./assets/logo_batman_azul.png"); /*Imagem de fundo do hover*/
    cursor: pointer;
}

.apresentacao_links_link_B{
    background-image: url("./assets/logo_batman_amarelo.png"); /*Imagem de fundo do link*/
    background-size: 120px; /*Tamanho da imagem de fundo*/
    background-repeat: no-repeat; /*Para não repetir a imagem*/
    background-position: 7px -2px; /*Posição da imagem de fundo*/
    text-align: center; /*Centraliza o texto do botão*/
    font-size: 1.25rem; /*Tamanho da fonte*/
    font-weight: 600; /*Peso da fonte*/
    padding: 30px 30px; /*Distância do texto até a borda do botão*/
    text-decoration: none;/*Retira o sublinhado do texto*/
    color: var(--cor-terciaria); /*Cor do texto*/
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links_link_B:hover{ /*Deixa o botão azul quando coloca o mouse em cima*/
    background-image: url("./assets/logo_batman_azul.png"); /*Imagem de fundo do hover*/
    cursor: pointer;
}

.apresentacao_imagem{
    width: 50%;
}

footer{ /*Rodapé do site*/
    background-color: var(--cor-secundaria); /*Cor de fundo do rodapé*/
    padding: 24px; /*Distância do texto até a borda do botão*/
    color: var(--cor-primaria); /*Cor do texto*/
    text-align: center; /*Centraliza o texto do rodapé*/
    font-family: 'Montserrat'; /*Estilo da fonte*/
    font-size: 24px; /*Tamanho da fonte*/
    font-weight: 400; /*Peso da fonte*/
}

@media (max-width: 1200px){
    .menu{
        padding: 10%;
    }

    .menu_navegacao{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo{
        width: auto;
    }


}